*{
    font-family: "montserrat",sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.page{
    background: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 1;
    height: 100vh;
    position: relative;
}
.countdown-col{
    background: url(bg.png) no-repeat center
}
